@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="text-align:center">
    @*<h1 class="logo"><img src="/Content/logo.png" /></h1>*@
    <h4>שלום @tbl_users.Current.UserName</h4>
    <h4>תפריט הגדרות</h4>
    <div class="center">
        <p><a href="/Management/ClientsList" class="btn btn-primary btn-lg">ניהול משתמשים</a></p>
        <p><a href="/Management/PaperTypesList" class="btn btn-primary btn-lg">ניהול סוגי נייר</a></p>

    </div>

  

</div>

<div class="row">

</div>
